<html ng-app="meusContatos">
    <head>
        <title>Contatos</title>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-4.5.2-dist/bootstrap-4.5.2-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="lib/angular-1.8.0/angular-1.8.0/angular.js"></script>
        <script src="javascript.js"></script>
    </head>
    
    <body ng-controller="meusContatosCtrl">
        <div class="jumbotron">
            <h4>{{titulosContatos}}</h4>
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
                <tr ng-repeat="contato in contatos">
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                </tr>
            </table>
            <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
            <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
            <button class="btn btn-primary btn-block" ng-click="cadastrarContato(contato)">Cadastrar novo contato</button>
            
        </div>

    
    </body>
</html>